<footer>
    <div class="footer-top">
        <div class="footer-logo">
            <h1>Join<h1 class="title2">2</h1>Play</h1>
        </div>
        <div class="footer-links">
            <div>
                <a href="">Contáctanos</a>
                <a href="">Preguntas frecuentes</a>
                <a href="">Acerca de</a>
              </div>
              <div>
                <a href="">Términos y avisos legales</a>
                <a href="">Política de Cookies</a>
                <a href="">Privacidad</a>
              </div>
        </div>
    </div>
    <hr/>
    <div class="footer-bottom">
       <p> © 2025 Join2Play </p>
    </div>
</footer>