.header-welcome {
    position: relative;
    overflow: hidden;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fadeInBackground 2s ease-out forwards;
}

.header-welcome::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(to bottom,
            rgba(33, 33, 33, 0) 0%,
            rgba(33, 33, 33, 0) 65%,
            rgba(33, 33, 33, 1) 100%),
        url(../../../../public/assets/teamFinder-welcome-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: scale(1.05);
    animation: fadeInBackground 2s ease-out forwards;
    z-index: 1;
}

.header-welcome>* {
    position: relative;
    z-index: 2;
}

.loading-container,
.game-errors-container {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
}

.loading-container h2,
.game-errors-container h2 {
    font-family: 'Audiowide';
    color: rgb(51, 51, 51);
}

.unauthenticated-alert {
    width: 70%;
    margin: auto;
    background-color: rgb(51, 51, 51);
    border: 3px solid rgba(122, 175, 140, 1);
    border-radius: 20px;
    padding: 40px;
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;

}

.unauthenticated-alert h2 {
    font-family: "Audiowide";
    width: 100%;
    margin-bottom: 60px;
}

.users-container {
    width: 85%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.users {
    padding: 90px;
}

.users h2 {
    margin-bottom: 50px;
    font-family: 'Audiowide';
}

.users-table {
    width: 100%;
    border-collapse: collapse;
}

.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
}

.table-headers th {
    color: rgba(122, 175, 140, 1);
    font-family: 'Exo 2', sans-serif;
    font-size: 28px;
    padding: 10px;
}

.table-tracks {
    color: rgba(239, 239, 239, 1);
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
    text-align: center;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    transition: 0.3s;
}

.table-tracks td {
    padding: 20px;
}

table tr.table-tracks:hover {
    background-color: #242424;
}

.badge {
    background-color: #333;
    color: rgba(239, 239, 239, 1);
    padding: 5px 12px;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: 500;
    display: inline-block;
}

.pagination-controls {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pagination-control {
    color: rgba(239, 239, 239, 1);
    font-family: "Exo 2";
    font-size: 18px;
    padding: 12px;
    border-radius: 10px;
    background-color: #333;
    transition: 0.5s;
}

.pagination-control:hover {
    background-color: #414141;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 2rem 0;
}

.select {
    background-color: #333;
    color: rgba(239, 239, 239, 1);
    border: 2px solid rgba(122, 175, 140, 1);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-family: 'Exo 2';
    font-size: 18px;
    appearance: none;
    cursor: pointer;
    min-width: 200px;
    box-shadow: 0 0 5px rgb(92, 129, 105);
}

.select:focus {
    outline: none;
    border-color: #81c784;
    box-shadow: 0 0 10px #81c784;
}

@keyframes fadeInBackground {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 1024px) {
    .users-container {
        width: 95%;
    }
}

@media (max-width: 767px) {
    .users-container {
        width: 100%;
    }

    .users {
        padding: 30px;
        margin-bottom: 50px;
    }

    .pagination-control {
        font-size: 16px;
        padding: 5px;
    }
}