<div class="register">
    <div class="register-overlay">
        <div class="form-container">
            <h2>¡Bienvenido, nuevo jugador!</h2>
            <form [formGroup]="registerForm" (ngSubmit)="OnSubmit()">
                <div>
                    <input type="text" name="name" id="name" placeholder="Nombre de usuario" class="input" [ngClass]="{'input-error': errors?.name}" formControlName="name" required>
                    <input type="email" name="email" id="email" placeholder="Email" class="input" [ngClass]="{'input-error': errors?.email}" formControlName="email" required>
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="******" class="input" [ngClass]="{'input-error': errors?.password}" formControlName="password" required>
                    <input type="password" name="password_confirmation" id="password_confirmation" placeholder="Confirmar contraseña" class="input" [ngClass]="{'input-error': errors?.password}" formControlName="password_confirmation" required>
                </div>
                <button type="submit" class="btn">Registrarse</button>
            </form>
            <a routerLink="/login">¿Ya tienes una cuenta?</a>
        </div>
    </div>
</div>