.alert {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Exo 2';
  font-size: 18px;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  color: rgba(239, 239, 239, 1);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.success {
  background-color: rgba(122, 175, 140, 1);
  border: solid 2px rgb(92, 129, 105);
}

.error {
  background-color: #ff6b6b;
  border: solid 2x #ff2e2e;
}