.container {
    z-index: 1000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgba(65, 61, 61, 1);
    position: fixed;
    transition: 0.5s;
}

.nav-desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    font-family: 'Exo 2';
    color: rgba(239, 239, 239, 1);
    position: relative;
}

.nav-desktop .link,
.sidebar .link {
    color: rgba(239, 239, 239, 1);
    text-decoration: none;
    font-size: 1rem;
    padding: 5px;
    position: relative;
    transition: color 0.3s ease;
    border-bottom: 2px solid transparent;
    transition: ease-in-out 0.3s;
}

.nav-desktop .link:hover,
.sidebar .link:hover {
    color: rgba(122, 175, 140, 1);
    border-bottom: 2px solid rgba(239, 239, 239, 1);
}

.nav-desktop .link.active,
.sidebar .link.active {
    color: rgba(122, 175, 140, 1);
    font-weight: bold;
    border-bottom: 2px solid rgba(239, 239, 239, 1);
    font-weight: 100;
}


.user-menu {
    position: relative;
    cursor: pointer;
    color: rgba(239, 239, 239, 1);
    transition: 0.5s;
}

.dropdown {
    position: absolute;
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-top: 30px;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2e2e2e;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    padding: 0.5rem 1.5rem;
    z-index: 1000;
    animation: 0.5s;
    min-width: 160px;
    white-space: nowrap;
}

.dropdown::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #2e2e2e transparent;
}

.dropdown a.logout,
.sidebar a.logout {
    color: #ff6b6b;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
    border-bottom: none;
}

.dropdown a.logout:hover,
.sidebar a.logout:hover {
    color: #ff2e2e;
    border-bottom: none;
}

.dropdown .dropdown-a {
    color: rgba(239, 239, 239, 1);
    text-decoration: none;
    font-size: 1rem;
    border-bottom: none;
}

.dropdown .dropdown-a:hover {
    border-bottom: none;
    color: rgba(122, 175, 140, 1);
}

.user {
    color: rgba(239, 239, 239, 1);
    text-decoration: none;
    font-size: 1rem;
    background-color: #333;
    padding: 15px;
    border: 3px solid rgba(122, 175, 140, 1);
    border-radius: 200px;
    transition: 0.5s;
}

.user:hover {
    background-color: #222222;
}

.title2 {
    color: rgba(122, 175, 140, 1);
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 200px;
    height: 100%;
    background-color: rgba(65, 61, 61, 1);
    display: flex;
    flex-direction: column;
    font-family: 'Exo 2';
    gap: 25px;
    padding: 40px 20px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.close-btn {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 24px;
    color: rgba(239, 239, 239, 1);
    cursor: pointer;
    margin-bottom: 20px;
}

.sidebar.open {
    right: 0;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    color: rgba(239, 239, 239, 1);
}

@media (max-width: 1024px) {
    .container {
        height: 70px;
    }

    a {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .container {
        height: 50px;
    }

    a {
        font-size: 16px;
        padding: 10px;
    }

    .nav-desktop {
        display: none;
    }

    .hamburger {
        display: block;
    }
}