<div class="header-welcome">
    <div>
        <h2>¡Encuentra a los compañeros de equipo perfectos!</h2>
        <p>Inicia sesión y explora entre todos nuestros usuarios hasta encontrar el compañero de equipo que buscabas</p>
    </div>
</div>
<div class="register-ad">
    <div class="register-ad-content">
        <h2>¡Regístrate en nuestros juegos!</h2>
        <p>Para encontrar a tus compañeros de equipo, primero debemos saber que tal juegas. ¡Regístrate y cuéntanos!</p>
        <a href="" class="btn">Registrarme en videojuegos</a>
    </div>
    <div class="register-ad-img"></div>
</div>