.header-welcome {
    height: 860px;
    width: 100%;
    background-image: url(../../../../public/assets/header-welcome-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
    transition: 0.5s;
}

.header-welcome div {
    width: 80%;
}

.header-welcome div h2 {
    font-family: "Audiowide";
    font-weight: 100;
    font-size: 45px;
    margin-bottom: 20px;
}

.header-welcome div p {
    font-family: "Exo 2";
    font-weight: 100;
    font-size: 25px;
}

.register-ad {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.register-ad-content {
    width: 40%;
}

.register-ad-content h2 {
    margin-bottom: 50px;
}

.register-ad-content p {
    margin-bottom: 50px;
}

.register-ad-img {
    background-image: url(../../../../public/assets/yasuo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    transition: 0.5s;
}

@media (max-width: 1024px) {
    .header-welcome {
        height: 600px;
    }

    .header-welcome div h2 {
        font-size: 35px;
    }

    .header-welcome div p {
        font-size: 20px;
    }

    .register-ad-img {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 767px) {
    .header-welcome {
        height: 500px;
    }

    .header-welcome div h2 {
        font-size: 30px;
    }

    .header-welcome div p {
        font-size: 16px;
    }

    .register-ad-content {
        width: 85%;
        margin-bottom: 30px;
    }
}