<div class="login">
    <div class="login-overlay">
        <div class="form-container">
            <h2>¡Bienvenido de vuelta!</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input type="email" name="email" id="email" placeholder="Email" class="input" [ngClass]="{'input-error': errors?.email}" formControlName="email" required>
                <input type="password" name="password" id="password" placeholder="******" class="input" [ngClass]="{'input-error': errors?.password}" formControlName="password" required>
                <button type="submit" class="btn">Iniciar sesión</button>
            </form>
            <a routerLink="/register">¿Aún no tienes una cuenta?</a>
        </div>
    </div>
</div>
