<div class="login">
    <div class="form-container">
        <h2>¡Bienvenido de vuelta!</h2>
        <form action="">
            <label for="email" class="label">Email</label>
            <input type="email" name="email" id="email" class="input">
            <label for="password" class="label">Contraseña</label>
            <input type="password" name="password" id="password" class="input">
            <button type="submit" class="btn">Iniciar sesión</button>
        </form>
        <a routerLink="/register">¿Ya tienes una cuenta?</a>
    </div>
</div>
